# ROS2 workspace build artifacts
/build/
/install/
/log/

/src/log/
/src/build/
/src/install/

/src/hmi/log/
/src/hmi/build/
/src/hmi/install/

# Temporary files
*.pyc
*.swp
*.bak

# Qt build files (if any)
*.o
*.obj
*.moc
*.qrc
*.ui.h

/.vscode